/*
 *= require_tree .
 *= require_self
 */

 .activity-category {
    margin-top: 30px;
    padding: 20px;
    border-left: 5px solid #ffaa00; /* オレンジ色の縦線 */
    margin-bottom: 40px;
}

.activity-item {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #e0e0e0; /* 薄いグレーの枠線 */
    border-radius: 5px;
}

.activity-item h4 {
    color: #cc5500; /* 見出しの色 */
    margin-top: 0;
}