<div class="activity-detail-wrapper">
  <h1>三島派遣</h1>
   <p class="category-info">
    【活動の種類】：ボランティア
   </p>
  <hr>
  
   <div class="activity-content">
     <h2>活動詳細</h2>
      <p class="long-description">
       静岡県の三島市に派遣に行く。<br>
       河川の洗浄のための草刈りや、田植えのお手伝いなどをします。
      </p>
   </div>
  
   <div class="action-links">
     <%= link_to "活動一覧に戻る", activities_path %>
   </div>

</div>